
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.menu-create-folder{
  display: inline-block;
  width:40px;
  height: 40px;
  background-image:url(../img/add_folder.svg);
  background-size: cover;
}
.menu-admin-panel{
  display: inline-block;
  width:40px;
  height: 40px;
  background-image:url(../img/admin_panel.svg);
  background-size: cover;
}
.menu-upload-files{
  display: inline-block;
  width:40px;
  height: 40px;
  background-image:url(../img/upload_file.svg);
  background-size: cover;
}
.delete-all-file-admin{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image:url(../img/delete_admin_all.svg);
  background-size: cover;
}
.block-user{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image:url(../img/block_user_block.svg);
  background-size: cover;
}
.unblock-user{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image:url(../img/block_user.svg);
  background-size: cover;
}
.change-size{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image:url(../img/change_size_user.svg);
  background-size: cover;
}
.menu-change-password{
  display: inline-block;
  width:40px;
  height: 40px;
  background-image:url(../img/change_password.svg);
  background-size: cover;
}
.flex-progress{
  width:100%;
  position: relative;
}
.progress{
  background-color: grey;
}
.my_prosent_label{
  position: absolute;
  top: 6px;
  left: 45%;
  color:white;
}
.myspace{
  display: inline-block;
  width: 30px;
}
.folder{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image:url(../img/folder.svg);
  background-size: cover;
}
.file{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image:url(../img/files.svg);
  background-size: cover;
}
.file-public{
  display: inline-block;
  width: 23px;
  height: 30px;
  background-image:url(../img/public_files.svg);
  background-size: cover;
}
.folder-link{
  text-decoration: none;
}
.folder-container{
  display: flex;
  align-items: center;
}
.file-container{
  display: flex;
  align-items: center;
}
.my-file-name{
  word-wrap: break-word;
  width: 75%;
}
.my-min-space{
  display: inline-block;
  width: 10px;
}
.icon-folder-delete{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image:url(../img/delete_folder.svg);
  background-size: cover;
}
.icon-file-delete{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image:url(../img/delete_file.svg);
  background-size: cover;
}
.all-input-backet{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image:url(../img/all_delete.svg);
  background-size: cover;
}
.restore-file{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image:url(../img/files_restore.svg);
  background-size: cover;
}
.delete-all-file{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image:url(../img/delete_files.svg);
  background-size: cover;
}
.my-submit-btn{
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}
.my-submit-btn:active, .my-submit-btn:focus {
  outline: none;
}
.my-submit-btn::-moz-focus-inner {
  border: 0;
}
.folder-edit{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image:url(../img/rename_folder.svg);
  background-size: cover;
}
.share-file{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image:url(../img/share_files.svg);
  background-size: cover;
}

.close-file{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image:url(../img/close_files.svg);
  background-size: cover;
}
.download-file{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image:url(../img/download_file.svg);
  background-size: cover;
}
.menu-folder-up{
  display: inline-block;
  width:40px;
  height: 40px;
  background-image:url(../img/folder_up.svg);
  background-size: cover;
}
.menu-folder-home{
  display: inline-block;
  width:40px;
  height: 40px;
  background-image:url(../img/folder_home_2.svg);
  background-size: cover;
}
.menu-trash{
  display: inline-block;
  width:  40px;
  height: 40px;
  background-image:url(../img/trash.svg);
  background-size: cover;
}
.my-file-input{
  margin:0;
  width:125px;
  color: transparent;
}
.menu-space{
  display: inline-block;
  width:45px;
  height: 40px;
}
.my-upload-delete{
  display: inline-block;
  width:  20px;
  height: 20px;
  background-image:url(../img/delete_upload.svg);
  background-size: cover;
  cursor: pointer;
}
.file-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
// инпут 
.flexbox { 
  display: flex;
  align-items: center;
  .input-class {
    flex: 1;
    position: relative;
  }
  .button-class {
    flex: 0;
    margin: 0 0 0 1rem;
  }
  input {
    padding: 0.2em;
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
  }
  .my-btn-find-string {
    padding: 0.2em;
    white-space: nowrap;
    display: inline-block;
    width:20px;
    height: 20px;
  background-image:url(../img/full_find_str.svg);
  background-color:transparent;
  position: absolute;
  top: 4px;
  right: 4px;
  }
}
.input-find-caption{
  margin-right: 1rem;
}
// инпут 
@media screen and (max-width: 770px) { // планшеты
  .my_prosent_label{
    left: 39%;
  }
}
@media screen and (max-width: 400px) { // мобилки
  .flexbox  .my-btn-find-string{
    width: 20px;
    height: 20px;
    top: 2px;
    right: 2px;
  }
  .my_prosent_label{
    left: 39%;
  }
  .my-table{
    font-size: 11px;
  }
  .my-table th{
    vertical-align: middle; 
  }
  .modile-icons{ // класс для уменьшеня размера иконок на мобильниках действий
    width:  18px;
    height: 18px;
  }
  .file-title-upload{
    font-size: 10px;
  }
  .menu-space{
    display: none;
  }
  .my-file-name{
    width: 136px;
  }
}
@media screen and (max-width: 549px) { // мобилки
  .my-file-name{
    width: 136px;
  }
}