
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.menu-create-folder{
  display: inline-block;
  width:40px;
  height: 40px;
  background-image:url(../img/add_folder.svg);
  background-size: cover;
}
.menu-upload-files{
  display: inline-block;
  width:40px;
  height: 40px;
  background-image:url(../img/upload_file.svg);
  background-size: cover;
}
.flex-progress{
  width:100%;
  position: relative;
}
.progress{
  background-color: grey;
}
.my_prosent_label{
  position: absolute;
  top: 6px;
  left: 45%;
  color:white;
}
.myspace{
  display: inline-block;
  width: 30px;
}
.folder{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image:url(../img/folder.svg);
  background-size: cover;
}
.file{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image:url(../img/files.svg);
  background-size: cover;
}
.file-public{
  display: inline-block;
  width: 23px;
  height: 30px;
  background-image:url(../img/public_files.svg);
  background-size: cover;
}
.folder-link{
  text-decoration: none;
}
.folder-container{
  display: flex;
  align-items: center;
}
.file-container{
  display: flex;
  align-items: center;
}
.my-min-space{
  display: inline-block;
  width: 10px;
}
.icon-folder-delete{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image:url(../img/delete_folder.svg);
  background-size: cover;
}
.my-submit-btn{
  background-color: transparent;
  border: 0;
}
.my-submit-btn:active, .my-submit-btn:focus {
  outline: none;
}
.my-submit-btn::-moz-focus-inner {
  border: 0;
}
.folder-edit{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image:url(../img/rename_folder.svg);
  background-size: cover;
}
.share-file{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image:url(../img/share_files.svg);
  background-size: cover;
}

.close-file{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image:url(../img/close_files.svg);
  background-size: cover;
}
.download-file{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image:url(../img/download_file.svg);
  background-size: cover;
}
.menu-folder-up{
  display: inline-block;
  width:40px;
  height: 40px;
  background-image:url(../img/folder_up.svg);
  background-size: cover;
}
.menu-folder-home{
  display: inline-block;
  width:40px;
  height: 40px;
  background-image:url(../img/folder_home_2.svg);
  background-size: cover;
}
.my-file-input{
  margin:0;
  width:125px;
  color: transparent;
}
.menu-space{
  display: inline-block;
  width:45px;
  height: 40px;
}
.my-upload-delete{
  display: inline-block;
  width:  20px;
  height: 20px;
  background-image:url(../img/delete_upload.svg);
  background-size: cover;
  cursor: pointer;
}
.file-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 770px) { // планшеты
  .my_prosent_label{
    left: 39%;
  }
}
@media screen and (max-width: 400px) { // мобилки
  .my_prosent_label{
    left: 39%;
  }
  .my-table{
    font-size: 11px;
  }
  .modile-icons{ // класс для уменьшеня размера иконок на мобильниках действий
    width:  18px;
    height: 18px;
  }
  .file-title-upload{
    font-size: 10px;
  }
  .menu-space{
    display: none;
  }
}